{{!-- Post --}}
{{> post-info post}}

{{!-- Comment form --}}
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">Add Comment</button>
        <button type="submit" class="upvote-btn">upvote</button>
    </div>
</form>
{{/if}}

{{!-- Comments --}}
{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
<script src="/js/upvote.js"></script>
{{/if}}